<%= form_with(scope: :location, url: admin_locations_path) do |form| %>
  <% if location.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
        <% location.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :latitude, style: "display: block" %>
    <%= form.text_field :latitude, class: "form-control", id: "InputLatitude", placeholder: "Enter latitude" %>
  </div>

  <div>
    <%= form.label :longitude, style: "display: block" %>
    <%= form.text_field :longitude, class: "form-control", id: "InputLongitude", placeholder: "Enter longitude" %>
  </div>

  <div>
    <button type="submit" class="btn btn-dark">
      Submit
    </button>
  </div>
<% end %>
