<div id="<%= dom_id(location, :admin) %>">
  <p>
    <strong>Latitude:</strong>
    <%= location.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= location.longitude %>
  </p>

  <hr>

  <div id="LocationMap"></div>
  <div id="map-lat" data-lat="<%= @location.latitude %>"></div>
  <div id="map-lng" data-lng="<%= @location.longitude %>"></div>

</div>
