<div id="<%= dom_id(location, :admin) %>">
  <p>
    <strong>Latitude:</strong>
    <%= location.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= location.longitude %>
  </p>

  <hr>

  <div id="location-map" data-lat="<%= @location.latitude %>" data-lng="<%= @location.longitude %>"></div>
</div>
