<p id="notice"><%= notice %></p>

<%= render @location %>

<div>
  <%= link_to "Edit this location", edit_admin_location_path(@location), class: "btn btn-dark" %>
  <%= link_to "Back to locations", admin_locations_path, class: "btn btn-dark" %>
  <%= link_to "Destroy this location", admin_location_path(@location), class: "btn btn-dark", method: :delete %>
</div>
