<h1>Editing user</h1>

<%= form_for [:admin, @user] do |form| %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: "form-control", id: "input-name", placeholder: "Enter your name, please" %>
  </div>
  <br>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email, class: "form-control", id: "input-email", placeholder: "Enter your email" %>
  </div>
  <br>

    <div>
    <%= form.submit 'Submit', class: 'btn btn-dark' %>
  </div>

<% end %>

<br>

<div>
  <%= link_to "Show this user", admin_user_path(@user), class: "btn btn-dark" %>
  <%= link_to "Back to users", admin_users_path, class: "btn btn-dark" %>
</div>
