<p style="color: green"><%= notice %></p>

<div id="users">
  <div class="container">
    <h1>All Users</h1>
    <table class="table table-striped table-bordered table-sm">
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Watch profile</th>
        </tr>
      </thead>
      <% @users.each do |user| %>
        <tbody>
          <tr>
            <th scope="row"><%= @users.ids.index{|x| x == user.id} + 1 %></th>
            <td><%= user.name %></td>
            <td>
              <%= link_to 'Show user', admin_user_path(user), class: "btn btn-dark" %>
            </td>
          </tr>
        </tbody>
      <% end %>
    </table>
    <%= link_to "Create new user", new_admin_user_path, class: "btn btn-dark" %>
  </div>
</div>
